<!-- SECTION -->
<div class="section">
	<div class="jumbotron jumbotron-fluid p-0 position-relative">
		<img src="/assets/img/diapos/diapo1.jpg" alt="Running person" style="width: 100%; object-fit: cover; min-height: 290px;">
		<div class="container position-absolute" style="top: 30%; left: 15%;">
			<h6 class="text-white">Your new Road shoes</h6>
			<h2 class="text-white" style="font-size: 3rem;">NEW COLLECTION</h2>
			<button class="btn btn-primary px-4" style="font-weight: 800;">Shop now</button>
		</div>
	</div>
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- Products tab & slick -->
			<div class="col-md-12">
				<div class="row d-flex justify-content-between">
					<!-- product -->
					<app-product-card
						*ngFor="let p of products; let i = index"
						[indexOfProduct]="i"
						[product]="p"
					></app-product-card>
					<!-- /product -->
				</div>
			</div>
			<!-- Products tab & slick -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->
