<!-- SECTION -->
<div class="section">
	<div class="jumbotron jumbotron-fluid p-0 position-relative">
		<img src="/assets/img/diapos/diapo1.jpg" alt="Running person" style="width: 100%; object-fit: cover; min-height: 290px;">
		<div class="container position-absolute" style="top: 30%; left: 15%;">
			<h6 class="text-white">Your new Road shoes</h6>
			<h2 class="text-white" style="font-size: 3rem;">NEW COLLECTION</h2>
			<button class="btn btn-primary px-4" style="font-weight: 800;">Shop now</button>
		</div>
	</div>
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- Products tab & slick -->
			<div class="col-md-12">
				<div class="row d-flex justify-content-between">
					<!-- product -->
					<app-product-card
						*ngFor="let p of products; let i = index"
						[indexOfProduct]="i"
						[product]="p"
					></app-product-card>
					<!-- /product -->
				</div>
			</div>
			<!-- Products tab & slick -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->

<!-- HOT DEAL SECTION -->
<div id="hot-deal" class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<div class="col-md-12">
				<div class="hot-deal">
					<ul class="hot-deal-countdown">
						<li>
							<div>
								<h3>02</h3>
								<span>Days</span>
							</div>
						</li>
						<li>
							<div>
								<h3>10</h3>
								<span>Hours</span>
							</div>
						</li>
						<li>
							<div>
								<h3>34</h3>
								<span>Mins</span>
							</div>
						</li>
						<li>
							<div>
								<h3>60</h3>
								<span>Secs</span>
							</div>
						</li>
					</ul>
					<h2 class="text-uppercase">hot deal this week</h2>
					<p>New Collection Up to 50% OFF</p>
					<a class="primary-btn cta-btn" href="#">Shop now</a>
				</div>
			</div>
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /HOT DEAL SECTION -->

<!-- NEWSLETTER -->
<div id="newsletter" class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<div class="col-md-12">
				<div class="newsletter">
					<p>Sign Up for the <strong>NEWSLETTER</strong></p>
					<form>
						<input class="input" type="email" placeholder="Enter Your Email">
						<button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
					</form>
					<ul class="newsletter-follow">
						<li>
							<a href="#"><i class="fa fa-facebook"></i></a>
						</li>
						<li>
							<a href="#"><i class="fa fa-twitter"></i></a>
						</li>
						<li>
							<a href="#"><i class="fa fa-instagram"></i></a>
						</li>
						<li>
							<a href="#"><i class="fa fa-pinterest"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /NEWSLETTER -->
